<!-- html with some Angular stuff -->
<p>This is the partial for view 1.</p>

<h2>Enter your name:</h2>
<form>
  <!-- in this input, make the value be whatever it is in $scope.name
    if there was no reference in the controller (='Martin') it would be empty
    name is accessing the scope
    with this input we can also set the variable
    => TWO WAY BINDING -->
  <input type="text" placeholder="First Name" ng-model="name">
  <input type="text" placeholder="Last Name" ng-model="lastName">
  <!-- Angular onClick event allowing us to access the scope -->
  <button ng-click="addUser()">Add User</button>
</form>

<br>

<div>
  <!-- Values inside the brackets are properties of the model (e.g. lastName) -->
  Name: {{name}} {{lastName}} 
</div>

<br>

<h3>User List (just displaying everything in a row</h3>
<!-- Display the whole stuff on the screen -->
<p>{{names}}</p>

<h3>User List (items are repeated)</h3>
<!-- Repeating individual items -->
<p ng-repeat="someName in names">{{someName}}</p>

<br>
